{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="mx-3">
    <h2>top wear</h2>
    <!-- Slider 2 -->
    <div class="owl-carousel" id="slider2">
     {% for i in products %}
       {% if i.category == "fashion" and i.sub_category == "top_wear" %}
       <a href="product-detail?query_name={{i.id|urlencode}}" class="btn"><div class="item"><img src='{{i.image.url}}' width="50px" height="100px" ><span class="fw-bold">{{i.product_name}}</span><br><span class="fs-5">{{i.price}}</span></div></a>
       {% endif %}
       {% endfor %}
    </div>
   </div>
{% endblock main-content %}